* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.Container {
  width: 100%;
  height: 500vh;
  background-color: black;
}
.Container .main-head {
  background-color: #028cb0;
}
.Container .Head-div .head1 svg {
  width: 188px;
  height: 42px;
  fill: white;
}
.Container .Head-div {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
}
.Container .Head-div .head1 p {
  margin-top: 10px;
  color: white;
}
.Container .Head-div .head1 {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  background-color: #028cb0;
}
.Container .Head-div .head2 {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.Container .Head-div .head2 p {
  color: white;
}
#get {
  font-weight: bold;
}
.body-div {
  display: flex;

  align-items: center;
  width: 100%;
  height: 80vh;
}
.body-div .div1 {
  width: 20%;
  height: 35vh;
}
.body-div .div1 img {
  width: 399px;
  transform: rotate(-4deg) translateX(-110px);
}
.body-div .div2 {
  width: 60%;
  height: 45vh;
  text-align: center;
}
.body-div .div2 h1 {
  color: white;
  font-weight: 700;
  line-height: 59px;
  font-size: 43px;
}
.body-div .div2 h4 {
  color: white;
  font-weight: 700;
  line-height: 30px;
  font-size: 19px;
}
.body-div .div2 input {
  color: white;
  background-color: #052d54;
  font-size: 19px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  height: 52.35px;
  width: 193.938px;
  border-top: 1px solid #052d54;
  border-left: 1px solid #052d54;
  border-bottom: 2px solid #052d54;
  border-right: 1px solid #052d54;
  padding: 10px 29px 10px 29px;
  border-radius: 5px;
}
.Container .main-head2 {
  width: 100%;
  height: 70vh;
  background-color: #fff0ea;
  display: flex;
  align-items: center;
}
.main-head2 .left-div {
  width: 50%;
  height: 50vh;
}
.main-head2 .left-div ul img {
  width: 194px;
  margin-top: 30px;
  margin-left: 92px;
  list-style: none;
}
.main-head2 .left-div span {
  color: #6e1200;
  margin-left: 92px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.main-head2 .left-div p {
  font-size: 19px;
  line-height: 30px;
  color: #676d73;
  margin-left: 92px;
}
.main-head2 .right-div {
  width: 50%;
  height: 50vh;
}
.Container .main-head3 {
  width: 100%;
  background-color: #ffffff;
  display: flex;
}
.main-head3 .left {
  width: 45%;
  height: 90vh;
}
.main-head3 .right {
  width: 55%;
  height: 90vh;
}
.main-head3 .right ul li {
  color: #141517;
  font-size: 30px;
  list-style: none;
  line-height: 45px;
  margin-top: 132px;
}
.main-head3 .right p {
  font-size: 19px;
  line-height: 30px;
  color: #676d73;
}
.Container .Head-body-all {
  background-color: #141517;
  height: 120vh;
}
.Container .main-head4 {
  width: 100%;
  background-color: #141517;
  display: flex;
}
.main-head4 .left {
  width: 50%;
  height: 35vh;
  background-color: #141517;
}
.main-head4 .right {
  width: 50%;
  height: 35vh;
}
.left svg {
  width: 38px;
  height: 38px;
  fill: white;
  background-color: #2497ff;
  border-radius: 27px;
  padding: 8px 8px 8px 8px;
  margin-left: 108px;
  margin-top: 54px;
}
.left ul li {
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  line-height: 35px;
  margin-left: 108px;
  list-style: none;
}
.left p {
  color: white;
  font-size: 16px;
  line-height: 26px;
  color: #aaafb4;
  margin-left: 108px;
}
.right svg {
  width: 38px;
  height: 38px;
  fill: white;
  background-color: #2497ff;
  border-radius: 27px;
  padding: 8px 8px 8px 8px;
  margin-left: 95px;
  margin-top: 54px;
}
.right ul li {
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  line-height: 35px;
  margin-left: 95px;
  list-style: none;
}
.right p {
  color: white;
  font-size: 16px;
  line-height: 26px;
  color: #aaafb4;
  margin-left: 95px;
}
.Container .main-head5 {
  width: 100%;
  background-color: #141517;
  display: flex;
}
.main-head5 .left {
  width: 50%;
  height: 35vh;
  background-color: #141517;
}
.main-head5 .right {
  width: 50%;
  height: 35vh;
}
.Container .main-head6 {
  width: 100%;
  background-color: #141517;
  display: flex;
}
.main-head6 .left {
  width: 50%;
  height: 35vh;
  background-color: #141517;
}
.main-head6 .right {
  width: 50%;
  height: 35vh;
}
.Container .Head-body-all .button-div {
  width: 100%;
  height: 6.5vh;
  display: flex;
  justify-content: center;
}
.Head-body-all .button-div input {
  color: white;
  background-color: #2497ff;
  font-size: 19px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  height: 52.35px;
  width: 193.938px;
  border-top: 1px solid #2497ff;
  border-left: 1px solid #2497ff;
  border-bottom: 2px solid #2497ff;
  border-right: 1px solid #2497ff;
  padding: 10px 29px 10px 29px;
  border-radius: 5px;
}
.Head-body-all .button-div input:hover {
  background-color: #2488df;
}
.Container .main-head7 {
  background-color: white;
  width: 100%;
  height: 62vh;
}
.main-head7 .inner-div-1 {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.main-head7 .inner-div-1 p {
  color: black;
  font-size: 30px;
  line-height: 45px;
}
.main-head7 .random1 {
  display: flex;
}
.main-head7 .random1 .head7-left {
  width: 50%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.main-head7 .random1 .head7-right {
  width: 50%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.main-head7 .random1 #human {
  width: 136px;
}
.main-head7 .random1 #image{
  width: 136px;
}
.main-head7 .random1 #logo {
  width: 39px;
  position: absolute;
  top: 78px;
  left: 49px;
}
.main-head7 .random1 #logo2{
  width: 39px;
  position: absolute;
  top: 78px;
  left: 49px;

}
.main-head7 .random1 span {
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}
footer .footer {
  width: 100%;
  height: 50vh;
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 60px;
}
.footer ul li {
  font-size: 16px;
  line-height: 30px;
  text-decoration: underline;
  list-style: none;
  color: #c3c4c7;
}
.footer .head-line {
  text-decoration: none;
  color: white;
  font-weight: 600;
  line-height: 35px;
}
footer .footer2 {
  width: 100%;
  height: 10vh;
  display: flex;
}
.footer2 .inner-div-footer {
  width: 50%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer2 .inner-div-footer1 {
  width: 50%;
  height: 10vh;
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer2 .inner-div-footer1 svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.footer2 .inner-div-footer1 button {
  width: 210px;
  height: 50px;
  background: #c3c4c7;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  border-color: white;
}
